.col-lg-4.wht svg {
  width: 60px;
  height: 65px;
  color: burlywood;
}
h2.we {
  font-size: 125px;
  font-weight: 500;
  color: white;
}
.col-lg-4.wht1 svg {
  width: 60px;
  height: 65px;
  color: aqua;
}
.col-lg-4.wht2 svg {
  width: 60px;
  height: 65px;
  color: burlywood;
}

h3.ew {
  font-size: 26px;
}
.row.gh {
  padding: 120px 0px 120px 0px;
}
.col-g-6.bn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  backdrop-filter: blur(5px); /* blur the background */
}

.form-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  margin: 5px;
}
